.success-page {
    background-color: #CE2829;
    background-size: cover;    
    min-height: 100vh;             
    width: 100%;               
    display: flex;             
    align-items: center; 
    justify-content: center;      
    text-align: center;       
    flex-direction: column;    
    position: absolute;        
    top: 0;                    
    left: 0;             
}


.success-page h5 {
    font-family: 'Satisfy', sans-serif; 
    color: #FDC913;
    font-size: 1.5rem;          
    margin-bottom: 0.5rem;
    margin-top: 3rem;   
    font-weight: lighter;    
}

.success-page h1 {
    font-family: 'Roboto Condensed', sans-serif ; 
    color: white;
    font-size: 3.5rem;          
    margin-bottom: 1.2rem;   
    font-weight: lighter;  
}

.success-page h6 {
    font-family: 'Roboto Condensed', sans-serif ; 
    color: white;
    font-size: 1.4rem;  
    margin-top: 1.2rem;        
    margin-bottom: 2.5rem;   
    font-weight: 400;
}
.succes-divider {     
    max-width: 100%;    
    border-top: 0.2rem solid white; 
    margin: 0;       
    width: 40%;           
}

.order-details {
    max-width: 100%;
    list-style-type: none;
    font-family: 'Barlow', sans-serif ; 
    color: white;
    font-size: 1rem;
    text-align: left;
    width: 18%;
}
.order-details li {
    margin-bottom: 0.5rem; 
}

.success-page .order-card {
    max-width: 100%;
    margin: auto;
    background: none;
    width: 18% ;
    border: 0.1rem solid white;  
    padding: 0;  
}

.orderCard-body {
    font-size: 1rem;
    font-weight: 450;
}

.success-page .orderCard-title {
    margin: 2rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    color: white;
    font-size: 1rem;
    text-align: left;
}
.orderCard-selection {
    color: white;
    text-align: left;
    padding-left: 2rem;
}

.orderCard-total { 
    color: white;
    text-align: left;
    padding-left: 2rem;
}

@media (max-width: 768px) {
    .success-page {               
        display: flex;             
        align-items: center;       
        text-align: center;       
        flex-direction: column;                
    }
    
    
    .success-page h5 {
        font-size: 1.2rem;          
        margin-bottom: 0.5rem;
        margin-top: 3rem;   
        font-weight: lighter;    
    }
    
    .success-page h1 {
        font-size: 3rem;          
        margin-bottom: 1.2rem;   
        font-weight: lighter;  
    }
    
    .success-page h6 {
        font-size: 1.2rem;  
        margin-top: 1rem;        
        margin-bottom: 2rem;   
        font-weight: 400;
    }
    .succes-divider {                
        width: 75%;           
    }
    
    .order-details {
        font-size: 0.9rem;
        width: 45%;
    }
    .order-details li {
        margin-bottom: 0.3rem; 
    }
    
    .success-page .order-card {
        margin: auto;
        width: 45% ;
        border: 0.1rem solid white;  
        padding: 0;  
    }
    
    .orderCard-body {
        font-size: 0.9rem;
    }
    
    .success-page .orderCard-title {
        margin: 1rem;
        padding-left: 1rem;
        font-size: 0.9rem;
    }
    .orderCard-selection {
        padding-left: 1rem;
    }
    
    .orderCard-total { 
        padding-left: 1rem;
    }
}