body {
    font-family: 'Barlow', sans-serif !important;
    height: 100%;        
    margin: 0;            
    padding: 0;              
 
}

.home-page {
    background-image: url('/images/iteration-1-images/home-banner.png');
    background-size: cover;    
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh;             
    width: 100%;               
    display: flex;             
    align-items: center;       
    text-align: center;       
    flex-direction: column;    
    position: absolute;        
    top: 0;                    
    left: 0;  
    padding-top: 60px;                 
}


.home-logo {
    max-width: 300px;         
    margin-bottom: 20px;      
}


.home-title {
    max-width: 530px; 
    color: white;
    font-size: 60px;          
    margin-bottom: 20px;   
    font-weight: lighter;    
}
.home-button {
    width: 150px;
}



.header {
    width: 100%;
    position: absolute;
    top: 0;                    
    left: 0;  
    background-color: #CE2829;
    padding: 30px 0;
    color: white;
    text-align: center;
    
}

nav {
    display: flex;
    justify-content: start; 
    gap: 10px; 
    margin-left: 510px;
    margin-top: 30px;
}

nav a {
    font-size: 16px;
    text-decoration: none; 
    color: white; 
    cursor: pointer;
    font-weight: lighter;
}

nav a.active {
    font-weight: bold; 
  }

nav a:hover {
    color: black;
}

.form-title {
    font-weight: bold;
    font-size: 18px;
}

.required {
    color: #CE2829;
    font-size: 1.2rem;
    margin-left: 5px;
}

.main-content {
    font-family: 'Barlow', sans-serif;
    width: 45%;
    max-width: 100%;
    border-radius: 8px;
    text-align: left;
    margin: 30px auto;
    padding: 120px 20px 20px 20px;
}

.description {
    margin-bottom: 40px;
    line-height: 1.8;
    font-family: 'Barlow', sans-serif;
    text-align: justify;
    color: #5F5F5F;
}

.order-form {
    font-family: 'Barlow', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    width: 100%; 
    box-sizing: border-box; 
}

.pizza-info {
    text-align: left;
}

.price-info {
    display: flex;
    justify-content: space-between;  
    align-items: center;  
    margin-top: 10px;
}
.pizza-info h4 {
    margin-bottom: 30px;
    font-weight: bold;  
}
.pizza-info h3 {
    font-weight: bold;  
}
.info {
    color: #5F5F5F;
    display: flex;
    justify-content: flex-end;  
    align-items: center;  
    gap: 20px;
}


.radio-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
    gap: 10px;
    
}

.ingredients-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 40px;
    color: #5F5F5F;
    font-weight: bold;
}

.form-text {
    display: block;
    margin-top: 5px;
    margin-bottom: 40px;
    
}

.order-completion {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;  
}


.count-button {
    cursor: pointer;
    height: 60px;
    width: 150px; 
    text-align: center;
    flex-shrink: 0; 
}


.card {
    margin-left: auto;
    max-width: 350px;
    flex-grow: 1; 
    margin-bottom: 0;  
}


.card-body {
    margin: 0 30px 20px 30px;
    font-size: 18px;
    font-weight: bold; 
    line-height: 2;
}


.card-title {
    font-weight: bold ; 
    font-size: 20px;
    margin: 40px;
    margin-bottom: 0;
}

.order-selection {
    color: #5F5F5F;
}

.order-total { 
    color: #CE2829;
}


.order-button {
    cursor: pointer;
    width: 350px;
    height: 60px;
    margin-top: 0;
    margin-left: auto;
}

.divider {
    border: none;          
    border-top: 2px solid gray; 
    margin: 20px 0;       
    width: 100%;           
}


.btn {
    font-weight: bold !important;
    background-color: #FDC913 !important;
    color: black !important; 
    cursor: pointer !important;
    border: none !important;
}


.btn:disabled {
    background-color: white !important; 
    color: black !important; 
    cursor: not-allowed !important; 
    border: 1px solid #5F5F5F !important;
}


.btn:hover:not(:disabled) {
    background-color: #f8c300 !important; 
    border: none !important;
}




