body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header {
    width: 100%;
    background-color: #CE2829;
    padding: 20px 0;
    color: white;
    text-align: center;
}
.header h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
}

.main-content {
    width: 45%;
    max-width: 100%;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    margin: 30px auto;
}

.description {
    margin-bottom: 40px;
}

.order-form {
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    width: 100%; 
    box-sizing: border-box; 
}

.pizza-info {
    text-align: left;
}

.price-info {
    display: flex;
    justify-content: space-between;  
    align-items: center;  
    margin-top: 10px;
}

.info {
    display: flex;
    justify-content: flex-end;  
    align-items: center;  
}

.info p {
    margin: 0 15px;  
}

.radio-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
}

.ingredients-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.form-text {
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
}

.order-completion {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;  
}


.count-button {
    cursor: pointer;
    height: 60px;
    width: 150px; 
    text-align: center;
    flex-shrink: 0; 
}


.card {
    margin-left: auto;
    max-width: 350px;
    flex-grow: 1; 
    margin-bottom: 0;  
}


.card-body {
    margin: 0 50px 20px 50px;
}


.card-title {
    font-size: 20px;
    margin: 40px 60px 0 60px;
}

.order-summary-row {
    display: flex;
    justify-content: space-between;
}

.price-description {
    text-align: left;
    font-size: 16px;
}

.order-price {
    text-align: right;
    font-size: 16px;
}


.order-button {
    cursor: pointer;
    width: 350px;
    height: 60px;
    margin-top: 0;
    margin-left: auto;
    
}


.bold {
    font-weight: bold;
}

.divider {
    border: none;          
    border-top: 2px solid gray; 
    margin: 20px 0;       
    width: 100%;           
}


.btn {
    background-color: #FDC913 !important;
    color: black !important; 
    cursor: pointer !important;
    border: none !important;
}


.btn:disabled {
    background-color: white !important; 
    color: black !important; 
    cursor: not-allowed !important; 
    border: 1px solid #5F5F5F !important;
}


.btn:hover:not(:disabled) {
    background-color: #f8c300 !important; 
    border: none !important;
}


